<?xml version="1.0" encoding="UTF-8"?>
<!-- 3.0규격을 참고해라 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace=패키지명과 인터페이스 명과 같아야한다 -->
<mapper namespace="com.comp.hobbyspace.mapper.AuthMapper">
	<select id="isUserId" resultType="int">
	SELECT count(*) FROM US where US_ID = #{userId}
	</select>
	
	<select id="isMember" resultType="int">
	SELECT count(*) FROM US where US_INPUT_ID = #{userId}
	</select>
	
	<select id="selectDigit" resultType="com.comp.hobbyspace.beans.AuthBean">
	SELECT US_ID as tenDigit FROM US WHERE US_INPUT_ID = #{userId}
	</select>
	
	<select id="isAccess" resultType="Integer">
	SELECT SUM(AL_TYPE) FROM AL where AL_USID = #{userId}
	</select>
	
	<insert id="insAccess" >
	INSERT INTO AL(AL_USID, AL_TIME, AL_TYPE) VALUES(#{userId}, SYSDATE, #{accessType})
	</insert>
	
	<select id="getUserNickname" resultType="com.comp.hobbyspace.beans.AuthBean">
	SELECT US_NICKNAME AS userNickname FROM US WHERE US_ID = #{userId}
	</select>
	
	<insert id="insUser" >
	INSERT INTO US
(US_ID, US_EMAIL, US_NICKNAME, US_MOBILE, US_AUTH, US_STATUS, US_IMG, US_CERT_M, US_CERT_E, US_PW, US_INPUT_ID)
VALUES(US_SEQ.NEXTVAL, #{userEmail}, #{userNickname}, #{userMobile}, 'X', 'Y', NULL, 'N', 'N', #{userPw}, #{userId})
	</insert>
</mapper>