<?xml version="1.0" encoding="UTF-8"?>
<!-- 3.0규격을 참고해라 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace=패키지명과 인터페이스 명과 같아야한다 -->
<mapper namespace="com.comp.hobbyspace.mapper.ReserveMapper">
	<select id="room"
		resultType="com.comp.hobbyspace.beans.ReserveBean">
	<![CDATA[
select ro_num as ronum, ro_people as people from ro WHERE ro_spCode = #{spCode}
	]]>
	</select>

	<select id="finald"
		resultType="com.comp.hobbyspace.beans.ReserveBean">
	<![CDATA[
select TO_CHAR(SP_FINALD,'YYYY-MM-DD') AS finald from sp WHERE SP_CODE =#{spCode}	]]>
	</select>

	<select id="falsed"
		resultType="com.comp.hobbyspace.beans.ReserveBean">
	<![CDATA[
select TO_CHAR(CA_DATE,'YYYY-MM-DD')as cdate from ca WHERE CA_ROspCode = #{spCode} and ca_ronum=#{ronum}]]>
	</select>

	<insert id="insTemp">
	<![CDATA[
INSERT INTO te(TE_ROspCode, TE_RONUM, TE_USID, TE_DATE,TE_USEDATE,TE_PEOPLE) 
VALUES(#{spCode},#{value},#{userId},SYSDATE,#{selectdata},#{people})	
]]>
	</insert>

	<select id="loadTemp"
		resultType="com.comp.hobbyspace.beans.ReserveBean">
	<![CDATA[
select te_date as tedate, te_rospCode as terospCode,te_ronum as teronum,TO_CHAR(te_usedate,'YYYY-MM-DD') as teusedate, te_people as tepeople, SP_TOPIMG AS sptopimg
from te INNER join  SP ON te.te_rospCode= sp.sp_code
where te_usid = #{userId}
]]>
	</select>
	<insert id="updateTemp">
	<![CDATA[
UPDATE TE SET TE_EMAIL = #{rsemail}, TE_MOBILE = #{rsphone} WHERE TE_ROspCode =#{rsterospCode} AND TE_RONUM= #{rsteronum} AND TE_USID =#{userId} AND TE_DATE = TO_DATE(#{rstedate}, 'yyyyMMddhh24miss')AND TE_PEOPLE=#{rstepeople}
]]>
	</insert>

	<insert id="newReserve">
	<![CDATA[
INSERT INTO RS(RS_REQDATE,RS_USID,RS_STATUS)VALUES(TO_DATE(#{rsdate}, 'yyyyMMddhh24miss'),#{userId},'W')
]]>
	</insert>

	<insert id="newDetail"> 
	<![CDATA[
INSERT INTO RD(RD_CODE,RD_RSREQDATE,RD_RSUSID,RD_RONUM,RD_ROspCode,RD_EMAIL,RD_USEDATE,RD_MOBILE,RD_PEOPLE,RD_STATUS)
VALUES(RDCODE_SEQ.NEXTVAL,TO_DATE(#{rsdate}, 'yyyyMMddhh24miss'),#{userId},#{rsteronum},#{rsterospCode}, #{rsemail},#{rsusedate},#{rsphone},#{rstepeople},'W')
]]>
	</insert> 

	<insert id="delTemp">
	<![CDATA[
DELETE FROM te WHERE TE_ROspCode =#{rsterospCode} AND TE_RONUM=#{rsteronum} AND TE_USID=#{userId} AND TE_DATE=TO_DATE(#{rstedate}, 'yyyyMMddhh24miss')
]]>
	</insert>
	
	<insert id="noDate">
	<![CDATA[
	INSERT INTO ca(CA_ROSPCODE,CA_RONUM,CA_TYPE,CA_DATE) VALUES (#{rsterospCode},#{rsteronum},'C',#{rsusedate})
]]>
	</insert>
	
	<!-- 예약로드 -->
	<select id="loadReserve" resultType="com.comp.hobbyspace.beans.ReserveBean">
	<![CDATA[
select rd.rd_usedate as frdusedate ,rd_code as rdcode,RD_RSREQDATE AS rsreqdate,RD_ROSPCODE AS rospcode,RD_RONUM AS ronum ,sp_location AS splocation,SP_TOPIMG AS sptopimg,rd_status AS rdstatus 
        from sp INNER JOIN rd on sp.sp_code = rd.RD_ROSPCODE
            where RD_RSUSID = #{userId}
]]>
	</select>
			<select id="ReserveDetail" resultType="com.comp.hobbyspace.beans.ReserveBean">
	<![CDATA[
SELECT US_NICKNAME AS USNICKNAME, RD_CODE as frdcode,RD_RSREQDATE as frdrsreqdate,RD_RSUSID as frdrsusid,RD_RONUM as
frdronum,RD_ROSPCODE as frdrospcode,RD_EMAIL as frdemail,RD_USEDATE as frdusedate,RD_MOBILE as frdmobile,RD_PEOPLE as frdpeople,RD_STATUS as frdstatus 
FROM RD inner join us on  rd_rsusid = us_id
WHERE RD_CODE =#{rdcode}
]]>
	</select>
	
		<select id="ToHostReserveList" resultType="com.comp.hobbyspace.beans.ReserveBean">
	<![CDATA[
select RD_CODE AS rdcode,RD_RSREQDATE,RD_ROSPCODE,RD_RONUM,sp_location ,SP_TOPIMG as sptopimg ,rd_status as frdstatus,RD_USEDATE as frdusedate ,rd_rsusid
from sp INNER JOIN rd on sp.sp_code = rd.RD_ROSPCODE
where SP_HOUSID = #{userId}
]]>
	</select>
	
	<insert id="OKStatus">
	<![CDATA[
UPDATE rd SET rd_status = 'P' where rd_code = #{rdcode}
]]>
	</insert>
	<insert id="NOStatus">
	<![CDATA[
UPDATE rd SET rd_status = 'N' where rd_code = #{rdcode}
]]>
	</insert>
	
	<insert id="cancelReserve">
	<![CDATA[
DELETE FROM ca WHERE CA_ROSPCODE =#{rospcode} and CA_RONUM =#{ronum} AND CA_TYPE = 'C' AND CA_DATE = #{frdusedate}
]]>
	</insert>
		<insert id="CancelStatus">
	<![CDATA[
UPDATE rd SET rd_status = 'D' where rd_code = #{rdcode}
]]>
	</insert>
</mapper>