<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comp.hobbyspace.mapper.ReviewMapper">
	<insert id="insReview">
	<![CDATA[
	INSERT INTO rv(RV_DATE,RV_USID,RV_RDCODE,RV_RONUM,RV_ROSPCODE,RV_CONTENT,RV_STAR,RV_IMG) 
	VALUES(SYSDATE,#{usId},#{rdCode},#{rdRoom},#{rdSpCode},#{rvtext},#{rvstar},#{rvImg})	
	]]>
	</insert>
</mapper>